.enviar {
    color: black;
    grid-area: boton1;
    border-radius: 20px;
    margin: 10px;
}
.reset {
    color:black;
    grid-area: boton2;
    border-radius: 20px;
    margin: 10px;
}
.bordes {
  border-left: solid 2px white;
  border-right: solid 2px white;
  padding: 5%;
  padding-top: 2%;
}