@media (min-width: 481px) and (max-width: 768px) {
    header{
    width:180%;
    flex-direction: column;

    nav{
        flex-direction: column;
        justify-content: end;
        width: 100%;
        
        ul li {
           margin-right: 12px;
        }

    }
    
}
.precios-grid {
    display: grid;
    grid-template-areas:
        "titulo"
        "precios"
        ".";
    grid-template-columns: 100%;
    grid-template-rows: 100px 600px 100px;
}
table{
    font-size: 2.4rem;
}

.consultas-grid {
    display: grid
;
    grid-template-areas:
        "titulos5 titulos5 titulos5"
        "titulos6 titulos6 titulos6"
        "area area area"
        "boton1 boton2 .";
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 100px 70px 600px 60px;
    justify-content: center;
}
.titulo2 {
    grid-area: titulos1;
    text-align: center;
    width:180%;
}
.cont-pelu {
     width:180%;
}
.index-grid{
        grid-template-rows: 100px 700px 180px 400px 450px 550px;
}
.banner{
    width:180%;
}
.tit-lugar {
    width:170%;
}
.consultas{
    width: 180%;
}
.t-area {
    width: 180%;
}
footer{
   width:180%;
}
.titulo-consultas{
    display: none;
}
.nene{
    display: none;
}
.nena{
    display: none;
}
.nosotros-grid {
    display: grid;
    grid-template-areas:
        "titulo3"
        "imagenes"
        "titulo4"
        "historia";
    grid-template-columns: 100%;
    grid-template-rows: 50px 450px 100px 800px;
}
.titulo-historia {
    width:180%;
}
.historia{
    width:180%;
}
.galeria{
     width:180%;
}
.imagenes{
     width:180%;
}

.mt-5 {
    width: 131%;
}
.mapa{
    width: 110%;
}
h2{
    width: 110%;
}
.text-center {
    width: 130%;
}
footer{
    height: 400px;
}
.titulo1 {
    width: 180%;
}
.precio {
    width: 180%;
}
}
/*Tablet*/
/*Portrait*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:portrait) {
 
header{
    width:105%;
    flex-direction: column;

    nav{
        flex-direction: column;
        justify-content: end;
        width: 100%;
        
        ul li {
           margin-right: 10px;
        }

    }
}
table {
        font-size: 2.1rem
    }
.index-grid {
    grid-template-columns: 0% 110% 0%;
    grid-template-rows: 100px 700px 100px 300px 400px 450px;
    
}
                .nosotros-grid {
                  display: grid;
                 grid-template-areas:
                 "titulo3"
                 "imagenes"
                 "titulo4"
                  "historia";
                  grid-template-columns:108%;
                  grid-template-rows: 10px 570px 80px 560px;
                }

.consultas-grid {
        grid-template-rows: 100px 70px 770px 60px
        ;}
.titulo-consultas{
    text-align: center;
}
.imagenes{
    justify-content: center;
}
table{
    font-size: 1.7rem;
    padding: 3.5rem;
}
p{
    margin: 3%;
}
footer {
    height: 330px;
    width: 105%;
}
.precios-grid {
    display: grid;
    grid-template-areas:
        "titulo"
        "precios"
        ".";
    grid-template-columns: 100%;
    grid-template-rows: 100px 700px 100px;
    text-align: -webkit-center;
    
}
.nena{
    display: none;
}
.nene{
    display: none;
}  
a{
    text-align: center;
}
}

/*landscape*/
@media (min-width: 991.98px) and (max-width: 1199.98px)and (orientation:landscape) {

header{
    width:105%;

    nav{

        justify-content: end;
        
        ul li {
  margin-right: 10px; /* Espacio entre elementos */
}

    }
}
.index-grid {
    display: grid;
    grid-template-areas:
        "titulos1 titulos1 titulos1"
        ". pelu ."
        "titlug titlug titlug"
        "banner banner banner"
        "titulo2 titulo2 titulo2"
        " trabajo trabajo trabajo";
    grid-template-columns: 0% 110% 0%;
    grid-template-rows: 100px 700px 100px 300px 400px 450px;
    justify-content: center;
}
footer {
    height: 330px;
    width: 105%;
}
.precios-grid {
    display: grid;
    grid-template-areas:
       "titulo"
       "precios"
        ".";
    grid-template-columns: 100%;
    grid-template-rows: 100px 1000px 100px;
    justify-content: center;
}
.nena{
    display: none;
}
.nene{
    display: none;
}
}
/*fin tablet*/

/*movil*/
/*Portrait*/
/*Default*/
@media (max-width: 575.98px) and (orientation:portrait) {

 }
/*landscape*/
@media (min-width: 375px) and (max-width:480px) {
  /*Mobile pagina inicio grid*/

 .index-grid {
        display:grid;
        grid-template-areas:
      "titulos1"
      " pelu"
      "titlug"
      "banner"
      "titulo2"
      " trabajo";

        grid-template-columns:690%;
        grid-template-rows: 100px 750px 150px 400px 250px 220px;
        justify-content: center;

    }
    
.peluqueria{
        border: solid;
        width: 350px;
    }  
    
header{
    width: 400%;
    flex-direction: column;
}
footer{
    width: 106%;
}
nav{
    width: 400%;
}
a{
    font-size: 1.1rem;
}
ul{
font-size: 1rem;
}
.ana{
    width: 400px;
}
.ana-bootstraps{
    margin: -20px;

}
.cont-pelu{
    justify-content: right;
    padding: 30px;
}
.trabajos{
    width: 106%;

}
div{
    padding: 10px;
}
h2{
    height: 40px;
    font-size: 2rem;
    letter-spacing: 7px;
}
.imagenes{
    flex-direction: column;
    height: 150px;
}
}


/* Tablet Landscape */
@media (min-width: 991.98px) and (max-width: 1199.98px) and (orientation: landscape) { 
    /* Ajustes para tablets en orientación horizontal */
    nav {
        display: flex;
        justify-content: space-between;
    }
    .imagenes {
        flex-direction: row;
    }
}

/* Móvil Portrait */
@media (max-width: 575.98px) and (orientation: portrait) { 
    /* Estilos para móviles en orientación vertical */
   
   .titulos{
   width:180%;
   }
     .trabajos{
   width:180%;
   }
   a{
    text-align: center;
   }
    nav {
      
        align-items: center;
    }
    .contenedor {
        width: 90%;
        margin: auto;
    }

}

/* Móvil Landscape */
@media (min-width: 576px) and (max-width: 991.98px) and (orientation: landscape) { 
    /* Estilos para móviles en orientación horizontal */
    nav {
        flex-direction: row;
        align-items: center;
    }
    .contenedor {
        width: 90%;
        margin: auto;
    }
}